.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo__principal{
    padding: 1em;
    
}
.botão__aluno{
    background-color: var(--amarelo-padrao);
    padding: 4px 14px;
    color: var(--preto-padrão);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    border-radius: 4rem;
}

.container{
    display: flex;
    align-items: center;
}
.container__botao{
    display: none;
}

.cabeçalho__menu-hambuerguer{
    width: 24px;
    width: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item{
background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-transform: uppercase;
}
.cabeçalho__direita{
    display: flex;
}
